@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;
    --primary: #2563eb;
    --primary-foreground: #fafafa;
    --border: #e4e4e7;
    --message-bg-out: #2563eb;
    --message-text-out: #ffffff;
    --message-bg-in: #f4f4f5;
    --message-text-in: #09090b;
  }

  .dark {
    --background: #09090b;
    --foreground: #fafafa;
    --primary: #2563eb;
    --primary-foreground: #fafafa;
    --border: #27272a;
    --message-bg-out: #2563eb;
    --message-text-out: #ffffff;
    --message-bg-in: #27272a;
    --message-text-in: #fafafa;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
